*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box
{
    width: 80%;
    min-height: 600px;
    border: 2px solid #000;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px auto;
    grid-gap: 10px;
}

.box1
{
    color: #000;
    background-color: pink;
    /* justify-content: center; */
    /* align-items: center; */
    align-content: center;
    padding-left: 590px;
    font-size: 2em;
    /* align-content: center; */
    /* justify-content: center; */
    /* justify-items: center; */
    /* align-items: center; */
    /* padding: auto; */
    /* grid-gap: 10px; */
}

.bigbox2
{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: 180px 180px 180px 180px;
    grid-gap: 10px;
}

.box2
{
    color: #000;
    background-color: peru;
    align-content: center;
    font-size: 2em;
}

.box3
{
    color: #000;
    background-color: yellow;
    align-content: center;
    font-size: 2em;
    /* height: 360px; */
    /* margin-bottom: 50px; */
    /* padding-bottom: 50px; */
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.box4
{
    color: #000;
    background-color: red;
    align-content: center;
    font-size: 2em;
}

.box5
{
    color: #000;
    background-color: palegreen;
    align-content: center;
    font-size: 2em;
    grid-row-start: 2;
    grid-row-end: 4;
}

.box6
{
    color: #000;
    background-color: lightblue;
    align-content: center;
    font-size: 2em;
    /* margin-top: 150px; */
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.box7
{
    color: #000;
    background-color: lightsalmon;
    align-content: center;
    font-size: 2em;
    /* height: 150px; */
    grid-column-start: 3;
    grid-column-end: 4;
}

.box8
{
    color: #000;
    background-color: lightcoral;
    align-content: center;
    font-size: 2em;
    grid-column-start: 1;
    grid-column-end: 3;
}
.box9
{
    color: #000;
    background-color: lightslategray;
    align-content: center;
    font-size: 2em;
    /* padding-left: 350px; */
}